/* Global Styles */
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}
/* Nav-Bar Styles */
nav{
  background-color: rgb(254, 255, 255);
  height: 9dvh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 0 80px; */
  position: sticky;
  top: 0;
  z-index: 99;
  border-bottom: solid .5px darkolivegreen;
}
nav .logo{
  margin-left: 80px;
}
/* nav .logo a{} */
nav .logo a img{
  width: 12dvw;
  height: 5dvh;
}
/* nav .menu{} */
nav .menu ul{
  display: flex;
  align-items: center;
  gap: 2.5em;
}
/* nav .menu ul li{} */
nav .menu ul li a{
  color: black;
  font-weight: 500;
  font-size: 1.1em;
}
nav .actions{
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-right: 80px;
}
/* nav .actions #shopping-bag{} */
nav .actions #shopping-bag img{
  width: 1.5em;
}
nav .actions #user img{
  width: 35px;
  height: 35px;
  border: solid 2px green;
  padding: 2px;
  border-radius: 50%;
  object-fit: cover;
}
/* End of Nav-Bar Styles */

/* Hero Section Styles */
.hero-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 80px;
}
.hero-section .left-side{
  display: flex;
  align-items: center;
  height: calc(100dvh - 9dvh);
  width: 50dvw;
}
.hero-section .left-side .card{
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.hero-section .left-side .card h2{
  font-size: 8rem;
  line-height: 1em;
  color: black;
}
.hero-section .left-side .card h4{
  color: darkgray;
  font-size: 2rem;
}
.hero-section .left-side .card button{
  width: 15dvw;
  height: 7dvh;
  background: #59D5E0;
  font-size: 1.4em;
  font-weight: 500;
  color: white;
  border: none;
  transform: skew(-20deg);
}
.hero-section .right-side{
  display: flex;
  align-items: center;
  width: 50dvw;
  height: calc(100dvh - 9dvh);
}
.hero-section .right-side img{
  transform: scaleX(-1);
  mix-blend-mode: multiply;
  display: block; 
  width: 100%; 
  max-width: 100%; 
  margin-right: auto; 
  margin-left: 0;
}
/* End of Hero Section Styles */

/* Top Bikes Section Styles */
.top-bikes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 80px;
}
.top-bikes .left{
  flex: 1;
}
/* .top-bikes .left h3{} */
/* .top-bikes .left img{} */
.top-bikes .right{
  flex: 1;
}
/* .top-bikes .right h2{} */
/* .top-bikes .right p{} */
/* .top-bikes .right input{} */
/* .top-bikes .right span{} */
/* End of Top Bikes Section Styles */

/* About us Section Styles */
.about-us{
  margin: 0 80px;
}
/* .about-us h2{} */
.about-us .about-us-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-us .about-us-content .left{
  flex: 1;
}
.about-us .about-us-content .right{
  flex: 1;
}
/* End of About us Section Styles */

/* Testimonials Section Styles */
.testimonials{
  margin: 0 80px;
}
/* .testimonials h2{} */
.testimonials .testi-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonials .testi-content .left{
  flex: 1;
}
.testimonials .testi-content .right{
  flex: 1;
}
/* End of Testimonials Section Styles */

/* Contact-us Section Styles */
.contact-us{
  /* height: calc(100dvh - 9dvh); */
  margin: 0 80px;
}
/* .contact-us h1{} */
.contact-us .main{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-us .main .left{
  flex: 1;
}
/* .contact-us .main .left h2{} */
/* .contact-us .main .left h4{} */
.contact-us .main .right{
  flex: 1;
}
.contact-us .main .right form{
  max-width: 100%;
  margin: 1rem auto;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
label{
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
form input[type="text"],
form input[type="email"],
form textarea{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.message textarea{
  resize: vertical;
}
.contact-us .main .right form .full-name{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}
.contact-us .main .right form .full-name .f-name{
  flex: 1;
}
.contact-us .main .right form .full-name .l-name{
  flex: 1;
}
form button{
  width: 10dvw;
  height: 5dvh;
  background: #59D5E0;
  font-size: 1.2em;
  font-weight: 500;
  color: white;
  border: none;
  transform: skew(-20deg);
}
/* End of Contact-us Section Styles */

/* Footer Styles */
footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10dvh;
  background: #46BFBA;
}
footer .left{
  flex: 1;
  margin-left: 80px;
}
footer .left span{
  font-weight: 500;
  font-size: 1.3em;
  line-height: .7em;
  color: white;
}
footer .right{
  flex: 1;
  margin-right: 80px;
}
footer .right ul{
  display: flex;
  align-items: center;
  gap: 1em;
  margin-left: 70%;
  
}
footer .right ul li{
  cursor: pointer;
}
footer .right ul li img{
  width: 20px;
  color: aliceblue;
}
/* End of Footer Styles */

