/* Global Styles */
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
/* Nav-Bar Styles */
nav{
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 80px;
}
nav .logo{}
nav .logo a{}
nav .logo a img{
  width: 10vw;
}
nav .menu{}
nav .menu ul{
  display: flex;
  align-items: center;
  gap: 20px;
}
nav .menu ul li{}
nav .menu ul li a{}
nav .actions{
  display: flex;
  align-items: center;
  gap: 4rem;
}
nav .actions #shopping-bag{}
nav .actions #shopping-bag img{
  width: 2em;
}
nav .actions #user img{
  width: 40px;
  height: 40px;
  border: solid 2px green;
  padding: 2px;
  border-radius: 50%;
  object-fit: cover;
}
/* End of Nav-Bar Styles */

/* Hero Section Styles */
.hero-section{
  display: flex;
  align-items: center;
  margin: 0 80px;
}
.hero-section .left-side{
  flex: 1;
}
.hero-section .left-side h2{}
.hero-section .left-side span{}
.hero-section .left-side button{}
.hero-section .right-side{
  flex: 1;
}
.hero-section .right-side img{
  width: 60vw;
  transform: scaleX(-1);
}
/* End of Hero Section Styles */

/* Top Bikes Section Styles */
.top-bikes{}
.top-bikes .left{}
.top-bikes .left h3{}
.top-bikes .left img{}
.top-bikes .right{}
.top-bikes .right h2{}
.top-bikes .right p{}
.top-bikes .right input{}
.top-bikes .right span{}
/* End of Top Bikes Section Styles */

/* About us Section Styles */
/* End of About us Section Styles */

/* Testimonials Section Styles */
/* End of Testimonials Section Styles */

/* Contact-us Section Styles */
/* End of Contact-us Section Styles */

/* Footer Styles */
/* End of Footer Styles */