/* Global Styles */
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
/* Nav-Bar Styles */
nav{
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 80px;
}
nav .logo{}
nav .logo h1{}
nav .logo h1 a{}
nav .menu{}
nav .menu ul{
  display: flex;
  align-items: center;
  gap: 20px;
}
nav .menu ul li{}
nav .menu ul li a{}
nav .actions{}
nav .actions span{}
nav .actions span img{}
/* End of Nav-Bar Styles */

/* Hero Section Styles */
/* End of Hero Section Styles */

/* Top Bikes Section Styles */
/* End of Top Bikes Section Styles */

/* About us Section Styles */
/* End of About us Section Styles */

/* Testimonials Section Styles */
/* End of Testimonials Section Styles */

/* Contact-us Section Styles */
/* End of Contact-us Section Styles */

/* Footer Styles */
/* End of Footer Styles */